In [28]:
import pandas as pd
import numpy as np
ruta = "c:/Users/CO-149/Downloads/ResultadosPuestoValores_NOCVal.xlsx"
hv = pd.read_excel(ruta)
columnas = hv.columns
real_names = []
for x in columnas:
    real_names.append(hv[x][4])
real_names[0] = "no_name"
for z in range(0, 5):
    hv.drop(index=z, inplace=True)
hv.columns = real_names
hv.drop("no_name", axis=1, inplace=True)

In [29]:
hv

,Cédula,Nombre,Escolaridad,Edad,Fecha de aplicación,TC,UE,EA,SH,PD,MR,TC,UE,EA,SH,PD,MR,Compatibilidad
5,1000033320req18347,DANIEL LOAIZA AGUIRRE,Bachillerato,19,19/10/2022 10:12:06 AM,70,53,47,55,58,67,-,-,-,-,-,-,-
6,1000066319req17686,KEVIN GARCIA CARDENAS,Bachillerato,21,14/09/2022 04:34:36 PM,88,73,48,50,47,43,-,-,-,-,-,-,-
7,1000123409req18812,JHON RAMIREZ CHAPARRO,Bachillerato,20,20/10/2022 10:28:56 AM,62,72,45,52,62,58,-,-,-,-,-,-,-
8,1000162466req17689,Jean Prada Lopez,Bachillerato,21,18/09/2022 12:43:34 PM,67,65,63,65,45,45,-,-,-,-,-,-,-
9,1000213733req18321,EDWAR POSSE NARANJO,Bachillerato,21,06/10/2022 04:56:11 PM,65,67,38,75,68,37,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,9099678req16640,Luis Garcia Renteria,Bachillerato,45,19/08/2022 11:18:36 PM,82,45,48,82,37,57,-,-,-,-,-,-,-
714,91518448req15158,EDGAR HERNANDO ESPEJO,Bachillerato,39,09/07/2022 06:36:15 PM,67,53,60,73,40,57,-,-,-,-,-,-,-
715,93137836req18120,RAUL CARDOZO LOZANO,Bachillerato,38,29/09/2022 12:15:14 PM,77,72,42,57,50,53,-,-,-,-,-,-,-
716,93138208req15159,Oscar Guzman Garnica,Bachillerato,37,24/06/2022 07:58:54 PM,63,60,43,75,52,57,-,-,-,-,-,-,-
717,94459609req17350,CARLOS MOSQUERA HINESTROZA,Bachillerato,46,13/09/2022 02:31:11 PM,87,53,47,57,47,60,-,-,-,-,-,-,-

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
1,NaN,Total: 711 expedientes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Fecha: 28/10/2022 02:17:12 PM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,Valores,Valores,Valores,Valores,Valores,Valores,Complemento,Complemento,Complemento,Complemento,Complemento,Complemento,NaN
4,NaN,Cédula,Nombre,Escolaridad,Edad,Fecha de aplicación,TC,UE,EA,SH,PD,MR,TC,UE,EA,SH,PD,MR,Compatibilidad
5,NaN,1000033320req18347,DANIEL LOAIZA AGUIRRE,Bachillerato,19,19/10/2022 10:12:06 AM,70,53,47,55,58,67,-,-,-,-,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
713,NaN,9099678req16640,Luis Garcia Renteria,Bachillerato,45,19/08/2022 11:18:36 PM,82,45,48,82,37,57,-,-,-,-,-,-,-
714,NaN,91518448req15158,EDGAR HERNANDO ESPEJO,Bachillerato,39,09/07/2022 06:36:15 PM,67,53,60,73,40,57,-,-,-,-,-,-,-
715,NaN,93137836req18120,RAUL CARDOZO LOZANO,Bachillerato,38,29/09/2022 12:15:14 PM,77,72,42,57,50,53,-,-,-,-,-,-,-
716,NaN,93138208req15159,Oscar Guzman Garnica,Bachillerato,37,24/06/2022 07:58:54 PM,63,60,43,75,52,57,-,-,-,-,-,-,-
717,NaN,94459609req17350,CARLOS MOSQUERA HINESTROZA,Bachillerato,46,13/09/2022 02:31:11 PM,87,53,47,57,47,60,-,-,-,-,-,-,-